@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "material.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-1: #666;
    --white: #f6f6f6;
    --black: #1F1F1F;
}

body {
    font-family: Poppins, -apple-system, "Segoe UI", sans-serif;
    background-color: var(--white);
    color: var(--black);
    min-height: 100dvh;
    scrollbar-gutter: stable;
}

*:not(.MuiInputBase-input) {
    outline: 2px solid transparent;
    transition: .2s all ease-in-out;
}

*:focus-visible {
    outline: 2px solid var(--accent-1);
}
